* {
    margin: 0px;
}

body {
    overflow-x: hidden;

}

@media screen and (min-width: 618px) and (max-width:2000px) {
    img {
        width: 503px;
        height: 278px;
    }


    .all img {
        width: 400px;
        height: 300px;

    }

    .product {
        text-align: center;
        font-size: 55px;
        padding-top: 10px;
        font-family: 'Libre Baskerville', serif;
        color: #0B2447;

    }

    .full {
        margin: 90px 20px 20px 20px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        /* padding: 58px; */
        padding-top: 40px;
        padding-bottom: 40px;
    }


    #up {

        transform: scale(1.2);
        z-index: 99999;
        padding-bottom: 100px;
    }


    #up img {
        width: 500px;
        height: 292px;
    }

    /* Animation */
    .down {
        animation: down 500ms;
    }

    @keyframes down {
        0% {
            transform: scale(1.2);
            z-index: 9999;
        }

        100% {
            transform: scale(1);
            z-index: 9999;

        }
    }

    .top {
        animation: up 300ms;

    }

    @keyframes up {
        0% {
            transform: scale(1);
            z-index: 9999;
        }

        100% {
            transform: scale(1.2);
            z-index: 9999;
        }
    }

    .leftd {
        animation: ldown 500ms;
    }

    .rightd {
        animation: rdown 500ms;
    }

    @keyframes ldown {
        0% {
            transform: scale(1);
            transform: rotate(-10deg);

        }

        100% {
            transform: scale(0.4);
            transform: rotate(-10deg);

        }
    }

    @keyframes rdown {
        0% {
            transform: scale(1);
            transform: rotate(10deg);

        }

        100% {
            transform: scale(0.4);
            transform: rotate(10deg);

        }
    }

    .one {
        transform: rotate(-10deg);
        opacity: 0.5;
        z-index: -999999;
    }

    .rights {
        transform: rotate(10deg);
        opacity: 0.5;
        z-index: -999999;

    }



    /* Text */
    /* .text p {
    top: 184px;
    height: 107px;
    position: absolute;
    background: hsla(252, 40%, 29%, 1);

    background: linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#392D69", endColorstr="#B57BEE", GradientType=1);
} */

    /* buttons */

    button {
        border-radius: 50px;
        border: none;
        opacity: 0.5;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        text-align: center;
        z-index: 99999999999;
    }

    button:hover {
        opacity: 1;
        color: black;
        background-color: whitesmoke;
    }

    .prev {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 355px;
        left: 30px;

    }

    .next {
        position: absolute;
        right: 27px;
        width: 40px;
        height: 40px;
        top: 355px;

    }

    /* Animation */

    /* .prevAni {
    animation: left 500ms;
  
    /* transition: 2s; */

    /* } */

    /* @keyframes left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
} */


    /* .prevCurrAni {
    animation: up 1000ms;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
 */

    /* } */


    /* @keyframes up {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1.5);

    }
} */

    /* .prevNextAni {
    animation: right 500ms;
    animation-delay: 1s;
} */

    /* 
@keyframes right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
} */

    .back {
        margin-top: 145px;
        /* width: 100vw; */
        height: 100vh;
        background: hsla(0, 97%, 37%, 1);

        background: linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        background: -moz-linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        background: -webkit-linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#BA0303", endColorstr="#2B87FF", GradientType=1);
        ;
    }

}

@media screen and (min-width:200px) and (max-width: 618px) {
    img {
        width: 503px;
        height: 278px;
    }


    .all img {
        width: 400px;
        height: 300px;

    }

    .product {
        text-align: center;
        font-size: 55px;
        padding-top: 10px;
        font-family: 'Libre Baskerville', serif;
        color: #0B2447;

    }

    .full {
        margin: 90px 20px 20px 20px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        /* padding: 58px; */
        padding-top: 40px;
        padding-bottom: 40px;
    }


    #up {

        transform: scale(1.2);
        z-index: 99999;
        padding-bottom: 100px;
    }


    #up img {
        width: 500px;
        height: 292px;
    }


    /* Animation */
    .down {
        animation: down 500ms;
    }

    @keyframes down {
        0% {
            transform: scale(1.2);
            z-index: 9999;
        }

        100% {
            transform: scale(1);
            z-index: 9999;

        }
    }

    .top {
        animation: up 300ms;

    }

    @keyframes up {
        0% {
            transform: scale(1);
            z-index: 9999;
        }

        100% {
            transform: scale(1.2);
            z-index: 9999;
        }
    }


    .one {
        transform: rotate(-10deg);
        opacity: 0.5;
        z-index: -999999;
    }

    .rights {
        transform: rotate(10deg);
        opacity: 0.5;
        z-index: -999999;

    }



    /* Text */
    /* .text p {
    top: 184px;
    height: 107px;
    position: absolute;
    background: hsla(252, 40%, 29%, 1);

    background: linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(252, 40%, 29%, 1) 0%, hsla(270, 77%, 71%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#392D69", endColorstr="#B57BEE", GradientType=1);
} */

    /* buttons */

    button {
        border-radius: 50px;
        border: none;
        opacity: 0.5;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        text-align: center;
        z-index: 99999999999;
    }

    button:hover {
        opacity: 1;
        color: black;
        background-color: whitesmoke;
    }

    .prev {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 355px;
        left: 30px;

    }

    .next {
        position: absolute;
        right: 27px;
        width: 40px;
        height: 40px;
        top: 355px;

    }



    .back {
        margin-top: 145px;
        /* width: 100vw; */
        height: 100vh;
        background: hsla(0, 97%, 37%, 1);

        background: linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        background: -moz-linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        background: -webkit-linear-gradient(225deg, hsla(0, 97%, 37%, 1) 7%, hsla(214, 100%, 58%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#BA0303", endColorstr="#2B87FF", GradientType=1);
        ;
    }


}